body {
	background-image: url("../../assets/images/diamonds.png");
	color: #1171DD;
}

.gameHeader {
	text-align: center;
	color: #C685C1;
}

.gameRules {
	text-align: center;
}

.row3, .row4, .row5, .row6 {
	text-align: center;
}

.allGems {
	padding: 10px;
}